# {{ ansible_managed }}
Port {{ security_ssh_port }}
PermitRootLogin {{ security_ssh_permit_root_login }}
PasswordAuthentication {{ security_ssh_password_auth }}
PubkeyAuthentication yes
KbdInteractiveAuthentication no
X11Forwarding no
MaxAuthTries 5
ClientAliveInterval 300
ClientAliveCountMax 2
