# {{ ansible_managed }}
{% for server in time_ntp_servers %}
pool {{ server }} iburst
{% endfor %}

driftfile {{ time_chrony_driftfile }}
makestep 1.0 3
rtcsync
leapsectz right/UTC
logdir /var/log/chrony
